$mainColor1: #6b8963;
$mainColor2: #363940;
$grayColor: #999;
$highlightColor1: #cabdb4;
$highlightColor2: #a04a49;

$errorColor: #eb2b36;
$successColor: #6b8963;

$bgColor: #fff;

* {
  -webkit-overflow-scrolling: touch;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $mainColor2;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  line-height: 150%;
}

html {
  overflow: hidden;
}

body {
  overflow: auto;
}

.error {
  color: $errorColor;
}
.success {
  color: $successColor;
}

button {
  background-color: $mainColor1;
  color: white;
  border: 0;
  width: 282px;
  border-radius: 5px;
  font-size: inherit;
  padding: 10px 10px;
  margin: 10px;

}
.button.a-close {
  margin-top: 2em;
  background-color: #aaa;
  display: inline-block;
  height: 20px;
}

h1 {
  margin-top: 0;
  padding-top: 1em;
  line-height: 150%;
}
h2 {
  margin-top: 0;
  line-height: 150%;
}
h3 {
  color: #999;
  line-height: 150%;
}
.Page h1 {
  color: $mainColor1;
}

a {
  color: #0074D9;
  text-decoration: none;
}

.Card {
  margin: 5px auto;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 10px 0 10px;
  line-height: 150%;

  p {
    margin-top: 2em;
  }

  h1 {
    padding-top: 0.5em;
    color: $mainColor1;
  }
}
.Card.small-card {
  text-align: left;
  padding-top: 15px;
  h2 {
    margin: 0;
    font-size: 1.2em;
  }
  p {
    margin-top: 1em;
    margin-bottom: 5px;
    padding: 0;
  }
}

.Start {
  font-size: 1.6em;
  line-height: 150%;
  margin: 60px 0 50px 0;
  padding:0;
  p {
    padding:0;
  }
}

.end {
  height: 50px;
}

#Main, .Page, .external-area, .internal-area, .game-area, .decline-area {
  width: 100%;
  height: 100%;
}

.external-area, .internal-area, .game-area, .decline-area {
  position: absolute;
  left: 0;
  top: 0;
  background: white;
}
.external-area {
  z-index: 10;
}
.internal-area {
  z-index: 3;
  overflow: auto;
  margin: 0;
  .carousel {
    height: 100%;
  }
}
.decline-area {
  z-index: 0;
  overflow: auto;
}
.game-area {
  z-index: 5;
  .Page, #game {
    position: absolute;
    top: 0;
    left: 0;
  }
  .Page {
    z-index: 5;
  }
  #game {
    width: 100%;
    height: 100%;
    display: none;
    z-index: 4;
  }
}

input {
  border: 1px solid $highlightColor1;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 8px 15px;
  text-align: center;
  min-width: 250px;
}

.card-wrapper {
  display:flex;
  justify-content:center;
  align-items:center;
  width: 100%;
  height: 100%;
}
.card {
  padding: 10px;
  background: $bgColor;
  border-radius: 5px;
  line-height: 250%;
}

.Page {
  overflow: auto;
  padding-bottom: 80px;
  text-align: center;
  p {
    padding: 0 20px;
  }
}

.Welcome {
  background-color: #fff;
  background-size: cover;


  h1, h2 {
    margin: 0;
    font-weight: normal;
  }

  h1 {
    color: $highlightColor2;
    padding-top: 10px;
  }
  h2 {
    margin: 1em 0 1.5em 0;
  }
}

.padded {
  padding: 0 10px;
}
.button {
  background: $mainColor1;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}
.u-hidden {
  display: none;
}

.Page.RSVP {
  .card {
    min-height: 270px;
  }

  #yes, #yes-initial {
    background-color: $bgColor;
    color: $mainColor2;
    border: 1px solid $mainColor1;
  }
  #no, #no-initial {
    background-color: $bgColor;
    color: $mainColor2;
    border: 1px solid $highlightColor2;
  }
  #yes.active {
    background-color: $mainColor1;
    color: $bgColor;
  }
  #no.active {
    background-color: $highlightColor2;
    color: $bgColor;
  }
  #yes.inactive, #no.inactive {
    border: 1px solid $grayColor;
    color: $grayColor;
  }
}

.slick-slider .slick-track, .slick-slider .slick-list {
  height: 100%;
}

.won-game-toast {
  position: relative;
  top: 10px;
  width: 95%;
  background: $successColor;
  color: white;
  padding: 10px 10px 5px 10px;
  margin: 0 auto;
  border-radius: 10px;
}

.ProductList {
  img {
    max-width: 100%;
    border-radius: 10px;
  }
  select {
    height: 36px;
  }
  .form {
    float: right;
  }
  .amount-p {
    clear: both;
    padding-top: 10px;
    text-align: right;
  }
}

.modal-window {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  z-index: 30;
  .inner-window {
    width: 80%;
    margin: 20px auto;
    max-width: 500px;
    background: white;
    border-radius: 25px;
    padding: 15px;
    max-height: 90%;
    overflow: auto;
  }
}

@media (min-width: 600px) {
  .Card.small-card {
    width: 295px;
    display: inline-block;
  }
}