$mainColor: #222;

$grayColor: #999;
$highlightColor1: #8CBA80;
$highlightColor2: #006400;

$bgColor: #fff;

@page {
  size: 120mm 120mm;
  margin: 0;
}
@media print {
  html, body {
    width: 120mm;
    height: 120mm;
  }
}

html, body {
  margin: 0;
  padding: 0;
  color: #222;
  font-family: 'Times New Roman', serif;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 150%;
}

h1,h2 {
  color: $highlightColor2;
  font-family: 'Times New Roman';
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
}
.highlight {
  color: $highlightColor2;
  font-family: 'Times New Roman', sans-serif;
}

#Main {

}

img.song {
  max-width: 80%;
  margin: auto;
  display: block;
}

.page {
  page-break-after: always;
  margin: 1cm 0.75cm;

}
.page1 {
  text-align: center;
  margin-top: 1.5cm;
  img {
    max-width: 100%;
  }
}
h2 {
  font-size: 1em;
  margin-top: 2em;
}
h3 {
  font-size: 12px;
  font-weight: normal;
  text-decoration: underline;
  font-style: normal;
}