<template name="contact">
  <h1>Kontakt</h1>
  <p>Flora und Manuel Thurner<br />
  Belgradstraße 24<br />
  80796 München<br />
  Deutschland</p>
  <p>
    Familie Schnabl<br />
    Südhangpromenade 33<br />
    9580 Drobollach
  </p>
  <p>
    Daniela Thurner<br />
    Fischbachstraße 58<br />
    5020 Salzburg
  </p>
  <p>Flora +43 650 8494319</p>
  <p>Manuel +49 178 1818718</p>
  <p>Für Notfälle am Tag der Hochzeit:<br />Aglaë +43 650 7273331</p>
  {{#if isOS}}
  <h1>Als App verwenden</h1>
  <p>Um FloMa auf Deinem iPhone oder iPad als App zu installieren, klicke in Safari unten auf das mittlere „Teilen“-Zeichen:<br />
    <br />
    <img src="/img/bookmark-explanation1.png" style="margin: 0 auto;max-width:90%;" width="300">
    </p>
  <p>
    Wähle dann „Zum Home-Bildschirm“ und abschließend rechts oben „Hinzufügen“:<br />
    <br />
    <img src="/img/bookmark-explanation2.png" style="margin: 0 auto;max-width:90%;" width="300">
  </p>
  <p>Viel Spaß mit der FloMa-App!</p>
  <p style="margin-top: 3em"><a class="a-logout">Ausloggen</a></p>
  {{/if}}
</template>