<template name="event">
  <div class="won-game-toast">
    {{firstName}}, danke für die vielen Herzen! Jetzt alle Details zur Hochzeit.
  </div>

<div class="Start">
  <p>Manuel und Flora geben hocherfreut Nachricht von ihrer bevorstehenden Hochzeit am 15.&nbsp;September&nbsp;2018.</p>
</div>
  <div class="Card">

    <h1>Get Together</h1>
    <p>Freitag, der 14. September 2018<br />
      19 Uhr
    </p>
    <p>
      Martinihof<br />
      <a href="https://goo.gl/maps/yTKHLX5pcYw" target="_blank">Untergreuth 1<br />
        9582 Latschach</a>
    </p>
  </div>
<div class="Card">
  <h1>Trauung</h1>

  <p>Die kirchliche Trauung findet um 14:30 Uhr in der Wallfahrtskirche zu Maria Gail statt.</p>

  <p>
  	<a href="https://goo.gl/maps/YodNJ2fVcbP2" target="_blank">18.-November-Platz 10<br />
  	9500 Villach</a>
  </p>
</div>
<div class="Card">
  <h1>Hochzeitsfest</h1>

  <p>Manuel und Flora bitten <br /><u>{{firstName}}</u><br /> im Anschluss an die Trauung zum Hochzeitsfest in die Südhangpromenade.</p>

  <p>
  	<a href="https://goo.gl/maps/mFfLf54W8VC2" target="_blank">Südhangpromenade 33<br />
  	9580 Drobollach</a>
  </p>
  <p>
  	Keine Parkmöglichkeiten!<br />
  	Am Samstag nach der Trauung wird Euch ein Shuttle ab 16 Uhr vom Parkplatz der Touristeninformation, <a href="https://goo.gl/maps/szcWH6PSrS82" target="_blank">Seeblickstraße 80, 9580 Drobollach</a>, zum Hochzeitsfest bringen.
  </p>
</div>

<p>Tracht</p>
  <p> </p>
</template>