<template name="hotels">
  <h1>Hotels</h1>
  <div class="Card small-card">
    <span style="float:right">****</span>
    <h2>Schönruh</h2>
    <p>
      Doppelzimmer ab 87,&ndash; €<br />
      <a href="https://goo.gl/maps/uKEY4zPwpV62" target="_blank">Seeblickstraße 40, 9580 Drobollach</a><br />

      +43 4254 2192 0<br />
      <a href="https://www.ferienhotel-schoenruh.at/" target="_blank">www.ferienhotel-schoenruh.at</a>
    </p>
  </div>
  <div class="Card small-card">
    <span style="float:right">****</span>
    <h2>Inselhotel</h2>
    <p>
      Doppelzimmer ab 97,&ndash; €<br />
      <a href="https://goo.gl/maps/PDZLgZLw6Tr" target="_blank">Inselweg 10, 9583 Faak am See</a><br />

      +43 4254 2145<br />
      <a href="http://www.inselhotel.at/" target="_blank">www.inselhotel.at</a>
    </p>
  </div>
  <div class="Card small-card">
    <span style="float:right">****</span>
    <h2>Seehotel Ressmann</h2>
    <p>
      Doppelzimmer ab 85,&ndash; €<br />
      <a href="https://goo.gl/maps/2QtsSiRxvn82" target="_blank">Strandbadstraße 69, 9580 Drobollach</a><br />

      +43 4254 2210<br />
      <a href="https://www.seehotel-ressmann.at/" target="_blank">www.seehotel-ressmann.at</a>
    </p>
  </div>
  <div class="Card small-card">
    <span style="float:right">****<sup>s</sup></span>
    <h2>Karnerhof</h2>
    <p>
      Doppelzimmer ab 111,&ndash; €<br />
      <a href="https://goo.gl/maps/dRPsqyB1Jgo" target="_blank">Karnerhofweg 10, 9580 Drobollach</a><br />

      +43 4254 2188<br />
      <a href="http://www.karnerhof.com/" target="_blank">www.karnerhof.com</a>
    </p>
  </div>
  <div class="Card small-card">
    <span style="float:right">***</span>
    <h2>Hotel-Pension Melcher</h2>
    <p>
      Doppelzimmer ab 41,&ndash; €<br />
      <a href="https://goo.gl/maps/WttkL2VKjc32" target="_blank">Greutherweg 31, 9580 Drobollach</a><br />

      +43 4254 2321<br />
      <a href="http://www.hotel-melcher.at/" target="_blank">www.hotel-melcher.at</a>
    </p>
  </div>
  <div class="Card small-card">
    <span style="float:right">***</span>
    <h2>Gästehaus Götz</h2>
    <p>
      Doppelzimmer ab 32,&ndash; €<br />
      <a href="https://goo.gl/maps/JYmsjdVu3M62" target="_blank">Kratschacher Weg 15, 9580 Drobollach</a><br />

      +43 4254 3755<br />
      <a href="http://www.haus-goetz.at/" target="_blank">www.haus-goetz.at</a>
    </p>
  </div>

  <h1>Taxinummern</h1>
  <p>Austria Taxi +43 4242 33666</p>
  <p>Taxi Roswitha +43 664 5210 416</p>
</template>