<template name="products">
  {{#if hasDeclined}}
    <p>Wie schade, dass Du nicht zu unserer Hochzeit kommen kannst. Wenn Du möchtest, kannst Du uns trotzdem etwas von unserer Hochzeitsliste schenken.</p>
    <p>Falls Du versehentlich abgesagt hast, bitte kontaktiere uns unter <a href="mailto:flora_schnabl@hotmail.com">flora_schnabl@hotmail.com</a>.</p>
  {{/if}}

  <h1>Geschenkeliste</h1>
  {{> product price=93 subject="Herend Kaffeeservice »Victoria«" id="herend-tasse" amount=8}}
  {{> product price=60 subject="Herend Dessertteller »Victoria«" id="herend-teller" amount=8}}
  {{> product price=239 subject="Herend Servierplatte »Victoria«" id="herend-servierplatte" amount=1}}
  {{> product price=226 subject="Herend Früchteschüssel »Victoria«" id="herend-fruechteschuessel" amount=1}}
  {{> product price=99 subject="Herend Milchkanne »Victoria«" id="herend-milchkanne" amount=1}}
  {{> product price=49.50 subject="3 Dibbern Gläser »Aqua«" id="dibbern-glas" amount=5}}
  {{> product price=58 subject="Dibbern Speise- und Vorspeiseteller »Pure«" id="dibbern-teller" amount=12}}
  {{> product price=66 subject="2 Dibbern tiefer Teller" id="dibbern-teller-tief" amount=6}}
  {{> product price=49.50 subject="3 Dibbern Teeservice »Pure«" id="dibbern-teeservice" amount=4}}
  {{> product price=66 subject="2 Dibbern bunte Desertteller »Pastell«" id="dibbern-desert" amount=3}}
  {{> product price=44 subject="2 Dibbern Schalen »Classic«" id="dibbern-schale" amount=4}}
  {{> product price=74 subject="Dibbern Servierplatte »Classic«" id="dibbern-platte-oval" amount=2}}
  {{> product price=56 subject="Dibbern kleine Servierschüssel »Classic«" id="dibbern-schuessel2" amount=2}}
  {{> product price=69 subject="Dibbern Servierschüssel »Classic«" id="dibbern-schuessel" amount=2}}
  {{> product price=44 subject="Dibbern Zuckerdose »Classic«" id="dibbern-zuckerdose" amount=1}}
  {{> product price=144 subject="Dibbern Tortenplatte »Classic«" id="dibbern-tortenplatte" amount=1}}
  {{> product price=100 subject="Dibbern Teekanne »Classic«" id="dibbern-teekanne" amount=1}}
  {{> product price=57.50 subject="Dibbern Sauciere »Classic«" id="dibbern-sauciere" amount=1}}
  {{> product price=38 subject="Dibbern Beilagenplatte »Classic«" id="dibbern-platte-klein" amount=2}}
  {{> product price=155 subject="Dibbern Etagere »Pure«" id="dibbern-etagere" amount=1}}
  {{> product price=56 subject="2 Dibbern Eierbecher »Classic«" id="dibbern-eierbecher" amount=4}}
  {{> product price=45 subject="Berndorf Tafelbesteck »Vienna« (Gabel, Messer, Löffel, Dessertgabel, Dessertlöffel)" id="berndorf-besteck" amount=12}}
  {{> product price=48.50 subject="Die Siedler von Catan - Seefahrer und Städte & Ritter Erweiterung" id="siedler-von-catan" amount=1}}
  {{> product price=40 subject="Beitrag zur Hochzeitsreise" id="reise" amount=50}}
</template>