<template name="products">
  {{#if hasDeclined}}
    <p>Wie schade, dass Du nicht zu unserer Hochzeit kommen kannst. Wenn Du möchtest, kannst Du uns trotzdem etwas von unserer Hochzeitsliste schenken.</p>
    <p>Falls Du versehentlich abgesagt hast, bitte kontaktiere uns unter <a href="mailto:flora_schnabl@hotmail.com">flora_schnabl@hotmail.com</a>.</p>
  {{/if}}

  <h1>Geschenkeliste</h1>
  {{> product price=93 subject="Herend Kaffeeservice »Victoria«" id="herend-tasse" amount=8}}
  {{> product price=60 subject="Herend Dessertteller »Victoria«" id="herend-teller" amount=8}}
  {{> product price=58 subject="Dibbern »Pure« Speise- und Vorspeiseteller" id="dibbern-teller" amount=12}}
  {{> product price=49.50 subject="Dibbern »Pure« Tiefer Teller und Teeservice" id="dibbern-teller-tief" amount=12}}
  {{> product price=74 subject="Dibbern »Classic« Servierplatte" id="dibbern-platte-oval" amount=2}}
  {{> product price=69 subject="Dibbern »Classic« Servierschüssel" id="dibbern-schuessel" amount=2}}
  {{> product price=70 subject="Dibbern »Pure« Krug" id="dibbern-krug" amount=1}}
  {{> product price=44 subject="Dibbern Zuckerdose" id="dibbern-zuckerdose" amount=1}}
  {{> product price=57.50 subject="Dibbern Sauciere groß und klein" id="dibbern-sauciere" amount=1}}
  {{> product price=79 subject="Philips Dampfgarer" id="dampfgarer" amount=1}}
  {{> product price=40 subject="Hochzeitsreise" id="reise" amount=50}}
</template>