<template name="product">

  <div class="Card small-card {{#if isSold}}isSold{{/if}}">
    <span style="float:right">{{formattedPrice}}</span>
    <h2>
      {{subject}}<br />
      {{#if isSold}}AUSVERKAUFT{{/if}}
    </h2>
    <p>
      <img src="/img/products/{{id}}.jpg"><br />
      {{#unless isSold}}
        <div class="form">
          <select class="a-amount" data-id="{{id}}">
            {{#each a in amounts}}
              <option value="{{a}}">{{a}} Stück</option>
            {{/each}}
          </select>

          <a class="button a-buy" data-id="{{id}}">Schenken (<span class="amount">{{formattedMultipliedPrice}}</span>)</a>
        </div>
      {{/unless}}
      <div class="amount-p">Verfügbar: {{computedAmount}} Stück</div>
    </p>
  </div>
</template>